<div class="d-flex">
  <div class="mx-auto">
    <h2>Default pure pipes</h2>
  </div>
</div>
<div class="row border">
  <div class="col">Uppercase</div>
  <div class="col">{{name | uppercase}}</div>
</div>
<div class="row border">
  <div class="col">Lowercase</div>
  <div class="col">{{name | lowercase}}</div>
</div>
<div class="row border">
  <div class="col">Date</div>
  <div class="col">
    {{curDate | date:'d-MMMM-y hh:mm:ss a'}} <br>
    {{curDate | date:'short'}} <br>
    {{curDate | date:'medium'}} <br>
    {{curDate | date:'long'}} <br>
  </div>
</div>
<div class="row border">
  <div class="col">Currency</div>
  <div class="col">
    {{tempNumber | currency:'INR'}} <br>
    {{tempNumber | currency:'USD'}} <br>
    {{tempNumber | currency:'EUR'}} <br>
  </div>
</div>
<div class="row border">
  <div class="col">Number</div>
  <div class="col">
    {{tempNumber | number}} <br>
    {{tempNumber | number: '.0-0'}} - As Integer <br>
    {{tempNumber | number: '.1-2'}} - Limit to 2 decimal places <br>
    {{tempNumber | number: '5.'}} - Perpend before decimal point <br>
  </div>
</div>
<div class="row border">
  <div class="col">JSON</div>
  <div class="col">{{object | json}}</div>
</div>
<div class="d-flex">
  <div class="mx-auto">
    <h2>Default impure pipes</h2>
  </div>
</div>
<div class="row border">
  <div class="col">Async with component specific provider</div>
  <div class="col">
    <ng-container *ngFor="let item of apiResponse | async">
      Id - {{item['id']}} | Title {{item['title']}} <br>
    </ng-container>
  </div>
</div>
<div class="row border">
  <div class="col">Keyvalue (item.key and item.value are standard)</div>
  <div class="col">
    <ng-container *ngFor="let item of object | keyvalue">
      {{item.key}} - {{item.value}} <br>
    </ng-container>
  </div>
</div>
<div class="d-flex">
  <div class="mx-auto">
    <h2>Custom pure pipes</h2>
  </div>
</div>
<div class="row border">
  <div class="col">Title Case</div>
  <div class="col">{{name | titlecase}}</div>
</div>
